@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
body{
    background-image: url(https://cff2.earth.com/uploads/2019/07/23185644/UltraDeepField-1024x1024.jpg);
}

h1{
    font-family: 'Nabla', cursive;
    stroke: black;
    color: rgb(255,255,255);
}
h6{
    stroke: black;
    color: rgb(255,255,255);
}

p{
    stroke: black;
    color: rgb(255,255,255);
}

#hyper{
    padding: 3px;
    white-space: normal;
    color:white;
    background-color: black;
    text-align: center;
    position: relative;
}

#imageGallery{
    display: inline-block;
}
